body .container-image {
    background-image: url('https://static.wixstatic.com/media/c837a6_aa803204cef842e0b9ad7d820e64f77c~mv2.jpg/v1/fill/w_1823,h_800,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_aa803204cef842e0b9ad7d820e64f77c~mv2.jpg');
}
.mynav {
    float: right;
}
.anchor {
    text-decoration: none;
    color: white;
    border-style: none;
}
.anchor:hover {
    background-color: rgba(189, 30, 30, 0.984);
    border: none;
}
ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.dropbtn {
    color: white;  
    border: none;  
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgba(189, 30, 30, 0.984);
    color: whitesmoke;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.anchor:hover {
    background-color: rgba(156, 22, 22, 0.984);
    border: none;
}
.dropdown:hover .dropbtn {
    background-color: rgba(189, 30, 30, 0.984);
    box-shadow: 2px 2px 5px rgba(189, 30, 30, 0.984);
}
.img-text {
    position: absolute;
    bottom: 10px;
    left: 65px;
    background: rgba(0, 0, 0, 0.65);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    color: white;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.img-text:hover {
    padding: 8px 15px;
    visibility: visible;
    opacity: 1;
    max-width: 80%;
}
.card-img {
    height: 400px;
    width: 350px;
}
.card-img:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);   
}
.card-img2:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);  
}









